<!--
    Buttons: these act as filters.
    TODO: Look into how to get this information automatically.
-->
<div class="button-group filter-button-group justify-content-center">
    <a class="btn btn-sm btn-primary active" data-filter=".research">Research</a>
    <a class="btn btn-sm btn-primary active" data-filter=".code">Code</a>
    <a class="btn btn-sm btn-primary active" data-filter=".music">Music</a>
</div>


<div class="grid flex">
  {% for note in site.notes reversed%}
     <div class="notes-item {{ note.tag }}">
        <a class="notes-link" data-toggle="modal" href="{{ site.url }}/{{ note.url }}">
          <h4>{{ note.title }}</h4>
        </a>
        <p> {{ note.excerpt | markdownify }}</p>
     </div>
  {% endfor %}
  <p id="emptygrid" style="display:none"> You have filtered out all posts. It is empty now.</p>
</div>

<script>
    let filterValues = []
    let elems = document.querySelectorAll('.filter-button-group a.active');
    for (const elem of elems)
        filterValues.push(elem.getAttribute("data-filter"))

    const buttons = document.querySelectorAll('.button-group a.btn')
    for (const item of buttons) {
        item.addEventListener('click', (evt) => {
            const value = item.getAttribute("data-filter")
            updateVisibilityFor(value)

            if (filterValues.includes(value)) {
                filterValues.splice( filterValues.indexOf(value), 1 )
                item.classList.toggle('active');
                item.classList.toggle('inactive');
            } else {
                filterValues.push(value)
                item.classList.toggle('active');
                item.classList.toggle('inactive');
            }

            checkEmptyGrid()
        })
    }

    function updateVisibilityFor(value) {
        const toggleMe = document.querySelectorAll(`.grid > div${value}`)
        toggleMe.forEach(item => {
            item.style.display = item.style.display == 'none' ? 'unset' : 'none'
        })
    }

    function checkEmptyGrid() {
        const items = document.querySelectorAll(`.grid > div`)
        const text = document.querySelector('#emptygrid')

        let found = false;
        for (const item of items) {
            if (item.style.display != 'none') {
                found = true
                break
            }
        }

        text.style.display = !found ? 'unset' : 'none'
    }
</script>

<style>
    /* Styles for grid elements */
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: row;
        align-items: flex-start;
        padding-left: 1em;
    }
    .notes-item {
        max-width: 12em;
    }
    #emptygrid {
        display: unset;
        font-size: medium;
        color: slategray;
    }

    /* Styles for the buttons */
    .filter-button-group > a.active {
        text-decoration: underline;
        text-underline-offset: 1em;
    }
    .filter-button-group > a.inactive {
        color: slategray;
    }
    .filter-button-group > a  {
        font-size: 20px;
    }
</style>